# **SALES PREDICTION**

## **Project Overview**
The project aims to leverage data science and machine learning techniques in Python to predict the car purchase amount that customers are likely to spend. This prediction is based on various customer attributes, including age, annual salary, credit card debt, net worth, and other factors. By accurately predicting car purchase amounts, businesses can optimize their advertising strategies and maximize their sales potential.
This project is a regression problem. It involves predicting a continuous numerical value (the car purchase amount) based on input features.
## **Business Understanding**
In businesses that offer products or services, understanding customer behavior and accurately predicting future sales is crucial. By leveraging data science and machine learning, businesses can make informed decisions regarding advertising costs, target audience segmentation, and advertising platform selection. This project will help businesses optimize their advertising strategies and improve their return on investment.

### Business Problem
The business problem is to predict the car purchase amount that customers are likely to spend based on their characteristics and attributes. This will allow businesses to allocate their advertising budget more effectively and tailor their marketing campaigns to target customers who are more likely to make high-value purchases.

### Objectives:
The main objectives of this project are as follows: 

- Build a machine learning model to predict car purchase amounts based on customer attributes.
- Evaluate the model's performance and accuracy.
- Provide insights to help businesses optimize their advertising strategies and maximize sales potential.

## **Data Understanding**
The dataset is obtained from Kaggle:[ Car Sales Price Prediction](https://www.kaggle.com/datasets/yashpaloswal/ann-car-sales-price-prediction)   
The provided dataset includes information about 500 customers. It contains the following columns:  

``customer name``: Customer's name (categorical)   
``customer e-mail``: Customer's email address (categorical) 
``country``: Customer's country (categorical)  
``gender``: Customer's gender (0 for male, 1 for female)  
``age``: Customer's age (numerical)  
``annual Salary``: Customer's annual salary (numerical)  
``credit card debt``: Customer's credit card debt (numerical)  
``net worth``: Customer's net worth (numerical)  
``car purchase amount``: The amount spent on car purchases (the target variable, numerical)

In [1]:
import pandas as pd

In [4]:
df= pd.read_csv('car_purchasing.csv', encoding='ISO-8859-1')
df.head()

,customer name,customer e-mail,country,gender,age,annual Salary,credit card debt,net worth,car purchase amount
0,Martina Avila,cubilia.Curae.Phasellus@quisaccumsanconvallis.edu,Bulgaria,0,41.851720,62812.09301,11609.380910,238961.2505,35321.45877
1,Harlan Barnes,eu.dolor@diam.co.uk,Belize,0,40.870623,66646.89292,9572.957136,530973.9078,45115.52566
2,Naomi Rodriquez,vulputate.mauris.sagittis@ametconsectetueradip...,Algeria,1,43.152897,53798.55112,11160.355060,638467.1773,42925.70921
3,Jade Cunningham,malesuada@dignissim.com,Cook Islands,1,58.271369,79370.03798,14426.164850,548599.0524,67422.36313
4,Cedric Leach,felis.ullamcorper.viverra@egetmollislectus.net,Brazil,1,57.313749,59729.15130,5358.712177,560304.0671,55915.46248

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   customer name        500 non-null    object
 1   customer e-mail      500 non-null    object
 2   country              500 non-null    object
 3   gender               500 non-null    int64
 4   age                  500 non-null    float64
 5   annual Salary        500 non-null    float64
 6   credit card debt     500 non-null    float64
 7   net worth            500 non-null    float64
 8   car purchase amount  500 non-null    float64
dtypes: float64(5), int64(1), object(3)
memory usage: 35.3+ KB